<html>

<head>
<title>Camille's CV</title>
</head>

<body>

<p>This is Camille's CV</p>

<h2>Education: McGill University, BA in Political Science </h2>
<ul>
<li>Rstudio, statistics, data visualization, ggplot</li>
</ul>


</body>
</html>
